body
	{
		background-image:url('d1608c3d-5504-4742-9878-4cb9ed50cfe4.jpeg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	
h1
	{
		font-size: 75px;
		font-family: Segoe Print;
		color: blue;
		font-weight: bold;
		text-align: center;
	}
	
h4
	{
		font-size: 50px;
		font-family: Ink Free;
		color: purple;
		font-weight: bold;
		text-align: left;	
	}
	
p
	{
		font-size: 30px;
		font-family: Cambria;
		color: black;	
		font-weight: bold;
	}
	
	
nav 
	{
		background-color: #e0e0e0;
		font-size: 20px;
	}
	
footer
	{
		background-color: grey;
		font-size: 15px;
		text-align: center;
		font-weight: normal;
	}